.about-us {
  padding-top: 49px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
}

.about-us__item {
  position: relative;
  padding-bottom: 19px;
  padding-top: 64px;
  font-size: 17px;
  line-height: 20px;
  list-style: none;
  font-weight: bold;
}

.about-us__item:first-child {
  padding-right: 65px;
}

.about-us__list:nth-child(2) .about-us__item:nth-child(1) {
  padding-right: 50px;
}

.about-us__item:nth-child(2) {
  padding-right: 10px;
}

.about-us__item:nth-child(3) {
  padding-right: 60px;
}

.about-us__icon {
  position: absolute;
  top: 0;
  fill: rgba(99,209,187, 1)
}

@media (min-width: 768px) {
  .about-us {
    padding-top: 80px;
  }

  .about-us__list {
    display: flex;
    flex-direction: column;
  }

  .about-us__wrapper {
    display: flex;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__item {
    width: 295px;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item:nth-child(2) {
    width: 270px;
  }

  .about-us__list:nth-child(2) .about-us__item {
    width: 380px;
    padding-left: 37px;
  }
}

@media (min-width: 1150px) {
  .about-us {
    padding-top: 107px;
  }

  .about-us__title {
    margin-left: 170px;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__item {
    padding-top: 60px;
  }

  .about-us__list:nth-child(1) {
    margin-left: 175px;
  }

  .about-us__list:nth-child(2) {
    margin-left: 20px;
  }
}
