.about-us {
  padding-top: 49px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
}

.about-us__item {
  padding-bottom: 19px;
  padding-top: 64px;
  font-size: 17px;
  line-height: 20px;
  list-style: none;
  font-weight: bold;
}

.about-us__item:first-child {
  padding-right: 65px;
}

.about-us__item:nth-child(2) {
  padding-right: 60px;
}

.about-us__item:nth-child(3) {
  padding-right: 60px;
}

.about-us__list:nth-child(2) .about-us__item:nth-child(1) {
  padding-right: 50px;
}

.about-us__item:nth-child(2) {
  padding-right: 10px;
}

.about-us__item:nth-child(3) {
  padding-right: 60px;
}

.about-us__item--flower {
  background: url("../img/icon-feature-flower.svg") no-repeat;
  background-position: 3% 12%;
}

.about-us__item--money {
  background: url("../img/icon-feature-money.svg") no-repeat;
  background-position: 0 11%;
}

.about-us__item--heart {
  background: url("../img/icon-feature-heart.svg") no-repeat;
  background-position: 3% 16%;
}

.about-us__item--ball {
  background: url("../img/icon-feature-ball.svg") no-repeat;
  background-position: 1% 14%;
}

.about-us__item--rocket {
  background: url("../img/icon-feature-rocket.svg") no-repeat;
  background-position: 0 14%;
}

.about-us__item--gift {
  background: url("../img/icon-feature-gift.svg") no-repeat;
  background-position: 1% 12%;
}

@media (min-width: 768px) {
  .about-us {
    padding-top: 80px;
  }

  .about-us__list {
    display: flex;
    flex-direction: column;
  }

  .about-us__wrapper {
    display: flex;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__item {
    width: 295px;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item:nth-child(2) {
    width: 270px;
  }

  .about-us__list:nth-child(2) .about-us__item {
    width: 380px;
    padding-left: 37px;
  }

  .about-us__item--ball {
    background-position: 12% 14%;
  }

  .about-us__item--rocket {
    background-position: 10% 11%;
  }

  .about-us__item--gift {
    background-position: 12% 8%;
  }
}

@media (min-width: 1150px) {
  .about-us {
    padding-top: 107px;
  }

  .about-us__title {
    margin-left: 170px;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__item {
    padding-top: 60px;
  }

  .about-us__list:nth-child(1) {
    margin-left: 175px;
  }

  .about-us__list:nth-child(2) {
    margin-left: 20px;
  }

  .about-us__item--flower {
    background-position: 3% 5%;
  }

  .about-us__item--money {
    background-position: 0 5%;
  }

  .about-us__item--heart {
    background-position: 3% 10%;
  }

  .about-us__item--ball {
    background-position: 11% 7%;
  }

  .about-us__item--rocket {
    background-position: 9% 8%;
  }

  .about-us__item--gift {
    background-position: 11% 8%;
  }
}
