.best-goods__type {
  color: @brand-color;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}
.best-goods__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}
.best-goods__table {
  line-height: 20px;
}
.best-goods__price-value {
  font-size: 17px;
  font-weight: bold;
}
.best-goods__price-link {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @black-color;
}
