.best-goods__type {
  color: @brand-color;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.best-goods__title {
  margin-top: 28px;
  margin-bottom: 3px;
  font-size: 25px;
  line-height: 30px;
}

.best-goods__description {
  margin-top: 20px;
}

.best-goods__table {
  line-height: 20px;
  color: @font-color;
}

.best-goods__table-property {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid @font-color;
}

.best-goods__table-value {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-bottom: 1px solid @font-color;
}

.best-goods__image {
  padding-top: 30px;
}

.best-goods__price-value {
  display: block;
  padding-top: 22px;
  padding-bottom: 26px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.best-goods__price-link {
  display: inline-block;
  padding-left: 83px;
  padding-right: 83px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @black-color;
}

@media (min-width: 768px) {
  .best-goods__wrapper {
    display: flex;
  }

  .best-goods__wrapper:nth-child(2) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .best-goods__title {
    margin: 0;
    padding-top: 45px;
    font-size: 43px;
    line-height: 50px;
  }

  .best-goods__type {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 55px;
    display: inline-block;
    width: 80px;
    text-align: center;
  }

  .best-goods__description {
    width: 300px;
    margin: 0;
    margin-top: 50px;
    line-height: 30px;
  }

  .best-goods__table {
    order: 2;
    margin-top: -315px;
  }

  .best-goods__image {
    margin-left: auto;
    order: 1;
  }

  .best-goods__price {
    margin-right: auto;
    padding-top: 35px;
    order: 3;
  }

  .best-goods__price-value {
    font-size: 20px;
  }

  .best-goods__price-link {
    margin-top: 9px;
    padding-left: 98px;
    padding-right: 98px;
  }
}

@media (min-width: 1250px) {
  .best-goods {
    padding-top: 105px;
  }

  .best-goods__title {
    margin-left: 50px;
    font-size: 53px;
    line-height: 57px;
    order: 1;
  }

  .best-goods__type {
    order: 0;
    margin: 0;
    margin-top: 63px;
    margin-left: 40px;
    font-size: 17px;
    line-height: 17px;
  }

  .best-goods__description {
    margin-left: 175px;
  }

  .best-goods__table {
    margin-left: 175px;
    margin-top: -300px;
  }

  .best-goods__price {
    margin-top: 55px;
    margin-left: 178px;
    font-size: 20px;
  }
}
