.contacts {
  padding-top: 72px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  padding-top: 10px;
  padding-bottom: 37px;
  line-height: 30px;
}

.contacts__list-item {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.contacts__list-item:nth-child(3) {
  margin-top: 30px;
}

.contacts__list-item:nth-child(4) {
  width: 150px;
  margin-top: 30px;
  margin-left: 25px;
}

.contacts__list-item--link {
  margin-left: 29px;
  text-decoration: none;
  color: @black-color;
}

.contacts__review {
  padding-top: 39px;
  padding-bottom: 40px;
}

.contacts__review-button {
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 50px;
  padding-right: 49px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: @black-color;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
}
