.copyright {
  padding-left: 40px;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.copyright__logo {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  background: url("../img/htmlacademy.svg") no-repeat;
}

@media (min-width: 768px) {
  .copyright {
    margin-top: 60px;
    margin-left: 35px;
  }
}

@media (min-width: 1250px) {
  .copyright {
    margin-left: 225px;
  }
}
