.copyright {
  padding-left: 40px;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.copyright__logo {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  background: url("../../img/htmlacademy.svg") no-repeat;
}
