.main-menu__toggle {
  border: none;
  padding: 10px;
  background: url(../../img/icon-menu-open.svg);
  background-position: center;
}
.main-menu__item {
  list-style: none;
  font-size: 17px;
}
.main-menu__link {
  font-weight: bold;
  text-decoration: none;
  color: @black-color;
}
