.modal__title {
  font-size: 25px;
  line-height: 30px;
}

.modal__choose {
  line-height: 30px;
}

.modal__item {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
}

.modal__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: @white-color;
  text-transform: uppercase;
}
