.navigation__button {
  padding: 0;
  margin: 0;
}

.navigation__item {
  margin: 0;
  list-style: none;
}

.navigation__item:first-child .navigation__link {
  background: url("../img/icon-interior.svg") no-repeat;
  background-color: @brand-color;
  background-position: 87% 54%;
}

.navigation__item:nth-child(2) .navigation__link {
  background: url("../img/icon-toy.svg") no-repeat;
  background-color: @button-navigation;
  background-position: 88% 50%;
}

.navigation__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 28px;
  padding-right: 130px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  color: @white-color;
}

@media (min-width: 768px) {
  .navigation__button {
    display: flex;
  }

  .navigation__item {
    font-size: 20px;
    line-height: 30px;
  }

  .navigation__item:first-child .navigation__link {
    padding-top: 30px;
    padding-left: 38px;
    padding-right: 90px;
  }

  .navigation__item:nth-child(2) .navigation__link {
    padding-top: 30px;
    padding-left: 35px;
  }
}

@media (min-width: 1150px) {
  .navigation__item {
    width: 525px;
  }

  .navigation__link {
    padding-right: 380px;
  }

  .navigation__item:first-child .navigation__link {
    padding-right: 380px;
    background-position: 93% 54%;
  }

  .navigation__item:nth-child(2) .navigation__link {
    background-position: 93% 54%;
  }
}
