.navigation__button {
  padding: 0;
  margin: 0;
}
.navigation__item {
  list-style: none;
  margin: 0;
}
.navigation__link {
  padding: 20px;
  display: block;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  color: @white-color;
  background-color: @brand-color;
}
