.product {
  padding-top: 30px;
}

.product__image {
  background: @basic-color;
}

.product__description {
  padding-top: 25px;
  padding-left: 27px;
  padding-bottom: 27px;
  border: 1px solid @border-product;
}

.product__description-title {
  width: 200px;
  margin: 0;
}

.product__size {
  margin-top: 5px;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 30px;
}

.product__description-link {
  font-size: 17px;
}

.product__order {
  position: relative;
}

.product__order-price {
  font-weight: bold;
}

.product__order-basket {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 185px;
  background: url(../img/icon-cart.svg) no-repeat;
}

@media (min-width: 768px) {
  .product {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 55px;
    border: 1px solid @border-product;
  }

  .product__image {
    width: 332px;
    height: 332px;
  }

  .product__description {
    width: 335px;
    padding-bottom: 0;
    padding-top: 25px;
    padding-left: 0;
    border: none;
  }

  .product__description-link {
    display: block;
    width: 240px;
    margin-left: 27px;
    font-size: 20px;
  }

  .product__description-title {
    margin: 0;
  }

  .product__size {
    margin-top: 6px;
    margin-left: 27px;
    font-size: 15px;
  }

  .product__order {
    margin-top: 195px;
  }

  .product__order-price {
    margin-left: 32px;
    font-size: 17px;
  }

  .product__order-basket {
    left: 283px;
  }

  .product:nth-child(3) .product__order {
    margin-top: 170px;
  }
}

@media (min-width: 1150px) {
  .product {
    display: block;
    margin-right: 52px;
    padding-top: 20px;
    border: none;
  }

  .product__image {
    width: 315px;
    height: 462px;
  }

  .product__description {
    width: 315px;
    padding-bottom: 26px;
    border: 1px solid @basic-color;
  }

  .product__size {
    margin-bottom: 10px;
  }

  .product__order {
    margin: 0;
    margin-top: 60px;
  }

  .product:nth-child(3) .product__order {
    margin-top: 35px;
  }

  .product__order-price {
    margin-left: 25px;
    font-size: 17px;
  }

  .product__order-basket {
    left: 260px;
  }
}
