.product {
  padding-top: 30px;
  padding-bottom: 50px;
}

.product__image {
  background: @basic-color;
}

.product__description {
  border: 1px solid @border-product;
}

.product__description-link {
  font-size: 17px;
}

.product__size {
  font-size: 13px;
  line-height: 30px;
}

.product__order-price {
  font-weight: bold;
}

.product-video__title {
  font-size: 17px;
}

.product-video__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @black-color;
}

@media (min-width: 768px) {
  .product {
    display: flex;
    padding-bottom: 26px;
  }

  .product__image {
    width: 332px;
    height: 332px;
  }

  .product__description {
    width: 335px;
    padding-top: 25px;
  }

  .product__description-link {
    display: block;
    width: 240px;
    margin-left: 27px;
    font-size: 20px;
  }


    .product__description-title {
    margin: 0;
  }

  .product__size {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 15px;
  }

  .product__order {
    margin-top: 195px;
  }

  .product__order-price {
    margin-left: 32px;
    font-size: 17px;
  }
}

@media (min-width: 1250px) {
  .product {
    display: block;
    margin-right: 52px;
    padding-top: 102px;
  }

  .product__image {
    width: 315px;
    height: 462px;
  }

  .product__description {
    width: 315px;
    padding-bottom: 55px;
  }

  .product__order {
    margin: 0;
  }

  .product__order-price {
    margin-left: 25px;
    font-size: 17px;
  }
}
