.product-video {
  padding-top: 70px;
  padding-bottom: 30px;
}

.product-video__image {
  background: @basic-color;
}

.product-video__info {
  border: 1px solid @border-product;
}

.product-video__button {
  margin-left: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 17px;
  line-height: 16px;
}
