.reviews__title {
  font-size: 25px;
  line-height: 30px;
}
.reviews__slider {
  padding: 0;
}
.reviews__item {
  list-style: none;
}
.reviews__item-text {
  margin: 0;
}
.reviews__author {
  font-size: 17px;
  font-weight: bold;
}
.reviews__autor-mail {
  font-size: 17px;
  line-height: 30px;
  color: @black-color;
  text-decoration: none;
}
.reviews__slider-left {
  cursor: pointer;
  padding: 15px;
  background: url(../../img/icon-left-arrow.svg) no-repeat;
}
.reviews__slider-right {
  cursor: pointer;
  padding: 15px;
  background: url(../../img/icon-right-arrow.svg) no-repeat;
}
.reviews__button {
text-decoration: none;
  font-size: 18px;
  color: @black-color;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}
