.reviews__title {
  padding-top: 17px;
  padding-left: 28px;
  padding-bottom: 3px;
  font-size: 25px;
  line-height: 30px;
}
.reviews__slider {
  padding: 0;
}
.reviews__item {
  list-style: none;
}
.reviews__item-text {
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
  line-height: 30px;
}
.reviews__author {
  padding-top: 26px;
  padding-bottom: 2px;
  padding-left: 30px;
  font-size: 17px;
  font-weight: bold;
}
.reviews__autor-mail {
  padding-left: 30px;
  font-size: 17px;
  line-height: 30px;
  color: @black-color;
  text-decoration: none;
}
.reviews__slider {
  margin-top: 25px;
}
.reviews__slider-left {
  display: inline-block;
  margin-left: 29px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 64px;
  padding-right: 64px;
  cursor: pointer;
  background: url(../../img/icon-left-arrow.svg) no-repeat;
  background-position: center;
  border: 1px solid @header-border;
}
.reviews__slider-right {
  display: inline-block;
  margin-left: -5px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 64px;
  padding-right: 64px;
  cursor: pointer;
  background: url(../../img/icon-right-arrow.svg) no-repeat;
  background-position: center;
  border: 1px solid @header-border;
}
.reviews__button {
text-decoration: none;
  font-size: 18px;
  color: @black-color;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}
