.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-bottom: 50px;
}

.social__list-item {
  margin-left: 25px;
  font-size: 0;
  display: inline-block;
  vertical-align: center;
}

.social__list-link {
  display: block;
  padding: 15px;
}

.social__list-link--instagram {
  background: url("../img/icon-insta.svg") no-repeat;
}

.social__list-link--facebook {
  background: url("../img/icon-fb.svg") no-repeat;
}

.social__list-link--twitter {
  background: url("../img/icon-twitter.svg") no-repeat;
}



@media (min-width: 768px) {
  .social {
    margin-top: 23px;
    margin-left: 122px;
  }
}

@media (min-width: 1250px) {
  .social {
    margin-left: 313px;
  }
}
